.button-color{
    background-color: brown;
    color: burlywood;
}

.card-body{
    background-color: beige;
}

.grid-bootstrap{
    background-color: bisque;
}

.accordion{
    padding: 30px;
}

.xd{
    padding: 100px;
}